/*
  If you get stuck, feel free to watch the follow-up videos where I'll show you one solution
*/

/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2,
h3,
a {
	color: #093a58;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 75%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
    font-size: 1.25em;
    margin: 0;
}

.name a,
.main-nav a {
    text-align: center;  
}

.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #093a58;
}

/* ---- Layout Containers ---- */

.banner {
	color: #fff;
	background: #3acec2;
}

.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
}



/* ---- Page Elements ---- */

.logo {
	width: 190px;
}

/*==================================
Style Main nav and Site Title
====================================*/

.main-nav li{
    display: inline-block;
}

.name {
    display: inline;  
}

/*==================================
Style banner content postioning
====================================*/

.banner {
    text-align: center;
    padding-top: 5em;
    padding-bottom: 5em;

}

/*==================================
Style column layout
====================================*/

.secondary {
    width: 25%;
    float: inline-start;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

.primary {
    width: 50%;
    display: inline-block;
}

.tertiary {
    width: 25%;
    float: right;
    display: inline-block;
}

.main-content {
    display: inline-block;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {



	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}